.newsList {
    width: 250px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img {
    max-width: 100%;
}

.paragraphContainer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.paragraphContent {
    text-align: center;
}
